body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 20px;
}

h2 {
    padding-bottom: 5px;
}

.subtitulo{
    border-bottom: 1px solid #ccc;
}

h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
/*  background-image: linear-gradient(24deg, black, #ff9900); */
}

.versus_table, .general_odds{
    margin-bottom: 30px;
}

.odd_number_goals{
    margin-top: 30px;
}

.odd_match_result{
    margin-bottom: 15px;
}

.x_versus_table{
    width: 15px;
}

.team_shields{
    width: 800px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#logo_bcc{
    width: 200px;
    height: 200px;
}

#logo_fisio{
    width: 170px;
    height: 170px;
}

#logo_geo{
    width: 200px;
    height: 200px;
}

#logo_quimica{
    width: 200px;
    height: 200px;
}

#logo_biotec{
    width: 200px;
    height: 200px;
}

#logo_medicina{
    width: 200px;
    height: 161px;
}

#logo_enfermagem{
    width: 200px;
    height: 200px;
}

#logo_odontologia{
    width: 200px;
    height: 200px;
}

#logo_lau{
    width: 170px;
    height: 170px;
    margin-top: 10px;
}