body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #606060; */
}

header {
    background-image: linear-gradient(24deg, black, #077ddd);
    color: white;
    text-align: center;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin-left: 40px;
    margin-right: 40px;
}

h1{
    font-family: "Jaro", sans-serif;
    font-size: 5vh;
    margin-bottom: 20px;
    margin-top: 5px;
}

h2 {
    padding-bottom: 5px;
    
}

h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody td {
    padding: 0; /* Remove o padding para que o botão ocupe toda a célula */
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
}

table th{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
/*  background-image: linear-gradient(24deg, black, #ff9900); */
}

button{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background-color: white; /* Cor de fundo do botão */
    color: black;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #ccc;
}

.subtitulo{
    border-bottom: 1px solid #ccc;
}

.versus_table, .general_odds{
    margin-bottom: 30px;
}

.x_versus_table{
    width: 40px;
}

.container{
    display: flex;
    gap: 20px; /* Espaçamento entre as tabelas */
}

.team_shields{
    width: 300px;
}

#home{
    text-align: center;
}

#logo_bcc{
    width: 200px;
    height: 200px;
}

#logo_exatas{
    width: 180px;
    height: 200px;
}

#logo_fisio{
    width: 170px;
    height: 170px;
}

#logo_humanas{
    width: 170px;
    height: 170px;
}

#logo_geo{
    width: 200px;
    height: 200px;
}

#logo_quimica{
    width: 200px;
    height: 200px;
}

#logo_biotec{
    width: 200px;
    height: 200px;
}

#logo_medicina{
    width: 200px;
    height: 161px;
}

#logo_enfermagem{
    width: 200px;
    height: 200px;
}

#logo_odontologia{
    width: 200px;
    height: 200px;
}

#logo_lau{
    width: 170px;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 5px;
}